<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.residence.mapper.ResidenceInfoMapper">
    
    <resultMap type="ResidenceInfo" id="ResidenceInfoResult">
        <result property="id"    column="id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="brandId"    column="brand_id"    />
        <result property="price"    column="price"    />
        <result property="depositId"    column="deposit_id"    />
        <result property="payId"    column="pay_id"    />
        <result property="depositeAmount"    column="deposite_amount"    />
        <result property="payAmount"    column="pay_amount"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="waterBill"    column="water_bill"    />
        <result property="electricityBill"    column="electricity_bill"    />
        <result property="houseTypeId"    column="house_type_id"    />
        <result property="square"    column="square"    />
        <result property="floor"    column="floor"    />
        <result property="towards"    column="towards"    />
        <result property="elevator"    column="elevator"    />
        <result property="furnish"    column="furnish"    />
        <result property="introduction"    column="introduction"    />
        <result property="addressId"    column="address_id"    />
        <result property="roomNo"    column="room_no"    />
        <result property="addressDetail"    column="address_detail"    />
        <result property="facilities"    column="facilities"    />
        <result property="labels"    column="labels"    />
        <result property="favoriteCount"    column="favorite_count"    />
        <result property="browseCount"    column="browse_count"    />
        <result property="status"    column="status"    />
        <result property="deleted"    column="deleted"    />
        <result property="weights"    column="weights"    />
        <result property="sort"    column="sort"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap id="ResidenceInfoResidencePictureResult" type="ResidenceInfo" extends="ResidenceInfoResult">
        <collection property="residencePictureList" notNullColumn="sub_id" javaType="java.util.List" resultMap="ResidencePictureResult" />
    </resultMap>

    <resultMap type="ResidencePicture" id="ResidencePictureResult">
        <result property="id"    column="sub_id"    />
        <result property="picUrl"    column="sub_pic_url"    />
        <result property="sort"    column="sub_sort"    />
    </resultMap>

    <resultMap id="ResidenceInfoVOResult" type="ResidenceInfoVO" extends="ResidenceInfoResult">
        <result property="categoryName"    column="category_name"    />
        <result property="brandName"    column="brand_name"    />
        <result property="houseTypeName"    column="house_type_name"    />
        <result property="depositName"    column="deposit_name"    />
        <result property="payName"    column="pay_name"    />
    </resultMap>

    <resultMap id="ResidenceInfoVOResidencePictureResult" type="ResidenceInfoVO" extends="ResidenceInfoVOResult">
        <collection property="residencePictureList" notNullColumn="sub_id" javaType="java.util.List" resultMap="ResidencePictureResult" />
    </resultMap>

    <select id="selectResidenceInfoList" parameterType="ResidenceInfoVO" resultMap="ResidenceInfoVOResult">
<!--        select ri.id, category_id, brand_id, price, deposit_id, pay_id, deposite_amount, pay_amount, total_amount, water_bill, electricity_bill, house_type_id,-->
<!--        square, floor, towards, elevator, furnish, introduction, address_id, room_no,address_detail, facilities, labels, favorite_count, browse_count, status, deleted,-->
<!--        weights, sort, create_by, create_time, update_by, update_time-->
<!--        from residence_info ri-->
        select  ri.id, ri.category_id, ri.brand_id, ri.price, ri.deposit_id, ri.pay_id, ri.deposite_amount, ri.pay_amount, ri.total_amount, ri.water_bill, ri.electricity_bill, ri.house_type_id,square, ri.floor, ri.towards, ri.elevator, ri.furnish, ri.introduction, ri.address_id, ri.room_no,ri.address_detail, ri.facilities, ri.labels, ri.favorite_count, ri.browse_count, ri.status, ri.deleted, ri.weights, ri.sort, ri.create_user_id, ri.create_by, ri.create_time, ri.update_user_id, ri.update_by, ri.update_time,
                rb.`name` brand_name, rc.`name` category_name, rht.`name` house_type_name, rd.`name` deposit_name, rp.`name` pay_name
        from residence_info ri
        left join residence_brand rb on ri.brand_id = rb.id
        left join residence_category rc on ri.category_id = rc.id
        left join residence_house_type rht on ri.house_type_id = rht.id
        left join residence_deposit rd on ri.deposit_id = rd.id
        left join residence_pay rp on ri.pay_id = rp.id
        <where>
            <if test="id != null "> and ri.category_id = #{id}</if>
            <if test="categoryId != null "> and ri.category_id = #{categoryId}</if>
            <if test="brandId != null "> and ri.brand_id = #{brandId}</if>
            <if test="price != null "> and ri.price = #{price}</if>
            <if test="waterBill != null "> and ri.water_bill = #{waterBill}</if>
            <if test="electricityBill != null "> and ri.electricity_bill = #{electricityBill}</if>
            <if test="houseTypeId != null "> and ri.house_type_id = #{houseTypeId}</if>
            <if test="square != null "> and ri.square = #{square}</if>
            <if test="floor != null "> and ri.floor = #{floor}</if>
            <if test="towards != null "> and ri.towards = #{towards}</if>
            <if test="elevator != null "> and ri.elevator = #{elevator}</if>
            <if test="furnish != null  and furnish != ''"> and ri.furnish = #{furnish}</if>
            <if test="addressId != null "> and ri.address_id = #{addressId}</if>
            <if test="roomNo != null and roomNo != '' "> and ri.room_no like concat('%', #{roomNo}, '%')</if>
            <if test="addressDetail != null  and addressDetail != ''"> and ri.address_detail = #{addressDetail}</if>
            <if test="status != null  and status != ''"> and ri.status = #{status}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and ri.create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectResidenceInfoById" parameterType="Long" resultMap="ResidenceInfoVOResidencePictureResult">
<!--        select a.id, a.category_id, a.brand_id, a.price, a.deposit_id, a.pay_id, a.deposite_amount, a.pay_amount, a.total_amount, a.water_bill, a.electricity_bill, a.house_type_id, a.square, a.floor, a.towards, a.elevator, a.furnish, a.introduction, a.address_id, a.room_no,a.address_detail, a.facilities, a.labels, a.favorite_count, a.browse_count, a.status, a.deleted, a.weights, a.sort, a.create_by, a.create_time, a.update_by, a.update_time,-->
<!--               b.id as sub_id, b.pic_url as sub_pic_url, b.sort as sub_sort-->
<!--        from residence_info a-->
<!--        left join residence_picture b on b.residence_id = a.id-->
<!--        where a.id = #{id}-->

        select  ri.id, ri.category_id, ri.brand_id, ri.price, ri.deposit_id, ri.pay_id, ri.deposite_amount, ri.pay_amount, ri.total_amount, ri.water_bill, ri.electricity_bill, ri.house_type_id,square, ri.floor, ri.towards, ri.elevator, ri.furnish, ri.introduction, ri.address_id, ri.room_no,ri.address_detail, ri.facilities, ri.labels, ri.favorite_count, ri.browse_count, ri.status, ri.deleted, ri.weights, ri.sort, ri.create_user_id, ri.create_by, ri.create_time, ri.update_user_id, ri.update_by, ri.update_time,
                rb.`name` brand_name, rc.`name` category_name, rht.`name` house_type_name,
                rp.id as sub_id, rp.pic_url as sub_pic_url, rp.sort as sub_sort
        from residence_info ri
        left join residence_brand rb on ri.brand_id = rb.id
        left join residence_category rc on ri.category_id = rc.id
        left join residence_house_type rht on ri.house_type_id = rht.id
        left join residence_picture rp on rp.residence_id = ri.id
        where ri.id = #{id}
    </select>
        
    <insert id="insertResidenceInfo" parameterType="ResidenceInfo" useGeneratedKeys="true" keyProperty="id">
        insert into residence_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">category_id,</if>
            <if test="brandId != null">brand_id,</if>
            <if test="price != null">price,</if>
            <if test="depositId != null">deposit_id,</if>
            <if test="payId != null">pay_id,</if>
            <if test="depositeAmount != null">deposite_amount,</if>
            <if test="payAmount != null">pay_amount,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="waterBill != null">water_bill,</if>
            <if test="electricityBill != null">electricity_bill,</if>
            <if test="houseTypeId != null">house_type_id,</if>
            <if test="square != null">square,</if>
            <if test="floor != null">floor,</if>
            <if test="towards != null">towards,</if>
            <if test="elevator != null">elevator,</if>
            <if test="furnish != null">furnish,</if>
            <if test="introduction != null">introduction,</if>
            <if test="addressId != null">address_id,</if>
            <if test="roomNo != null">room_no,</if>
            <if test="addressDetail != null">address_detail,</if>
            <if test="facilities != null">facilities,</if>
            <if test="labels != null">labels,</if>
            <if test="favoriteCount != null">favorite_count,</if>
            <if test="browseCount != null">browse_count,</if>
            <if test="status != null">status,</if>
            <if test="deleted != null">deleted,</if>
            <if test="weights != null">weights,</if>
            <if test="sort != null">sort,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUserId != null">update_user_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">#{categoryId},</if>
            <if test="brandId != null">#{brandId},</if>
            <if test="price != null">#{price},</if>
            <if test="depositId != null">#{depositId},</if>
            <if test="payId != null">#{payId},</if>
            <if test="depositeAmount != null">#{depositeAmount},</if>
            <if test="payAmount != null">#{payAmount},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="waterBill != null">#{waterBill},</if>
            <if test="electricityBill != null">#{electricityBill},</if>
            <if test="houseTypeId != null">#{houseTypeId},</if>
            <if test="square != null">#{square},</if>
            <if test="floor != null">#{floor},</if>
            <if test="towards != null">#{towards},</if>
            <if test="elevator != null">#{elevator},</if>
            <if test="furnish != null">#{furnish},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="addressId != null">#{addressId},</if>
            <if test="roomNo != null">#{roomNo},</if>
            <if test="addressDetail != null">#{addressDetail},</if>
            <if test="facilities != null">#{facilities},</if>
            <if test="labels != null">#{labels},</if>
            <if test="favoriteCount != null">#{favoriteCount},</if>
            <if test="browseCount != null">#{browseCount},</if>
            <if test="status != null">#{status},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="weights != null">#{weights},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateResidenceInfo" parameterType="ResidenceInfo">
        update residence_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="brandId != null">brand_id = #{brandId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="depositId != null">deposit_id = #{depositId},</if>
            <if test="payId != null">pay_id = #{payId},</if>
            <if test="depositeAmount != null">deposite_amount = #{depositeAmount},</if>
            <if test="payAmount != null">pay_amount = #{payAmount},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="waterBill != null">water_bill = #{waterBill},</if>
            <if test="electricityBill != null">electricity_bill = #{electricityBill},</if>
            <if test="houseTypeId != null">house_type_id = #{houseTypeId},</if>
            <if test="square != null">square = #{square},</if>
            <if test="floor != null">floor = #{floor},</if>
            <if test="towards != null">floor = #{towards},</if>
            <if test="elevator != null">elevator = #{elevator},</if>
            <if test="furnish != null">furnish = #{furnish},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="addressId != null">address_id = #{addressId},</if>
            <if test="roomNo != null">room_no = #{roomNo},</if>
            <if test="addressDetail != null">address_detail = #{addressDetail},</if>
            <if test="facilities != null">facilities = #{facilities},</if>
            <if test="labels != null">labels = #{labels},</if>
            <if test="favoriteCount != null">favorite_count = #{favoriteCount},</if>
            <if test="browseCount != null">browse_count = #{browseCount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="weights != null">weights = #{weights},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteResidenceInfoById" parameterType="Long">
        delete from residence_info where id = #{id}
    </delete>

    <delete id="deleteResidenceInfoByIds" parameterType="String">
        delete from residence_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteResidencePictureByResidenceIds" parameterType="String">
        delete from residence_picture where residence_id in 
        <foreach item="residenceId" collection="array" open="(" separator="," close=")">
            #{residenceId}
        </foreach>
    </delete>

    <delete id="deleteResidencePictureByResidenceId" parameterType="Long">
        delete from residence_picture where residence_id = #{residenceId}
    </delete>

    <insert id="batchResidencePicture">
        insert into residence_picture( id, residence_id, pic_url, sort) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.residenceId}, #{item.picUrl}, #{item.sort})
        </foreach>
    </insert>
</mapper>