<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.residence.mapper.ResidenceFavoriteMapper">
    
    <resultMap type="ResidenceFavorite" id="ResidenceFavoriteResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="residenceId"    column="residence_id"    />
        <result property="sort"    column="sort"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <resultMap id="ResidenceFavoriteVOResult" type="ResidenceFavoriteVO" extends="ResidenceFavoriteResult">
        <result property="residenceName" column="residence_name"/>
    </resultMap>


    <sql id="selectResidenceFavoriteSQL">
        select id, user_id, residence_id, sort, create_time from residence_favorite
    </sql>

    <sql id="selectResidenceFavoriteVOSQL">
        select rf.id, rf.user_id, rf.residence_id, rf.sort, rf.create_time, ri.`name` residence_name from residence_favorite rf left join residence_info ri on rf.residence_id = ri.id

    </sql>

    <select id="selectResidenceFavoriteList" parameterType="ResidenceFavorite" resultMap="ResidenceFavoriteVOResult">
        <include refid="selectResidenceFavoriteVOSQL"/>
        <where>
            <if test="userId != null"> and user_id = #{userId} </if>
        </where>
        <choose>
            <when test="params.sortSql != null">
                order by ${params.sortSql}
            </when>
            <otherwise>
                order by rf.create_time desc
            </otherwise>
        </choose>
    </select>
        
    <insert id="insertResidenceFavorite" parameterType="ResidenceFavorite" useGeneratedKeys="true" keyProperty="id">
        insert into residence_favorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="residenceId != null">residence_id,</if>
            <if test="sort != null">sort,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="residenceId != null">#{residenceId},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <delete id="deleteResidenceFavoriteById" parameterType="Long">
        delete from residence_favorite where id = #{id}
    </delete>

    <delete id="deleteResidenceFavoriteByIds" parameterType="String">
        delete from residence_favorite where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>