<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vip.mapper.VipParticularsMapper">
    
    <resultMap type="VipParticulars" id="VipParticularsResult">
        <result property="id"    column="id"    />
        <result property="vipName"    column="vip_name"    />
        <result property="vipTime"    column="vip_time"    />
        <result property="vipMoney"    column="vip_money"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectVipParticularsVo">
        select id, vip_name, vip_time, vip_money, create_by, update_by, create_time, update_time, deleted, remark from vip_particulars
    </sql>

    <select id="selectVipParticularsList" parameterType="VipParticulars" resultMap="VipParticularsResult">
        <include refid="selectVipParticularsVo"/>
        <where>  
            <if test="vipName != null  and vipName != ''"> and vip_name like concat('%', #{vipName}, '%')</if>
            <if test="vipTime != null  and vipTime != ''"> and vip_time = #{vipTime}</if>
            <if test="vipMoney != null  and vipMoney != ''"> and vip_money = #{vipMoney}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectVipParticularsById" parameterType="Long" resultMap="VipParticularsResult">
        <include refid="selectVipParticularsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertVipParticulars" parameterType="VipParticulars">
        insert into vip_particulars
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="vipName != null">vip_name,</if>
            <if test="vipTime != null">vip_time,</if>
            <if test="vipMoney != null">vip_money,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleted != null">deleted,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="vipName != null">#{vipName},</if>
            <if test="vipTime != null">#{vipTime},</if>
            <if test="vipMoney != null">#{vipMoney},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateVipParticulars" parameterType="VipParticulars">
        update vip_particulars
        <trim prefix="SET" suffixOverrides=",">
            <if test="vipName != null">vip_name = #{vipName},</if>
            <if test="vipTime != null">vip_time = #{vipTime},</if>
            <if test="vipMoney != null">vip_money = #{vipMoney},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVipParticularsById" parameterType="Long">
        delete from vip_particulars where id = #{id}
    </delete>

    <delete id="deleteVipParticularsByIds" parameterType="String">
        delete from vip_particulars where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>