<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vip.mapper.VipULogMapper">
    
    <resultMap type="VipULog" id="VipULogResult">
        <result property="id"    column="id"    />
        <result property="userIdG"    column="user_id_g"    />
        <result property="userId"    column="user_id"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectVipULogVo">
        select id, user_id_g, user_id, remark, create_time from vip_u_log
    </sql>

    <select id="selectVipULogList" parameterType="VipULog" resultMap="VipULogResult">
        <include refid="selectVipULogVo"/>
        <where>  
            <if test="userIdG != null "> and user_id_g = #{userIdG}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectVipULogById" parameterType="Long" resultMap="VipULogResult">
        <include refid="selectVipULogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertVipULog" parameterType="VipULog">
        insert into vip_u_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userIdG != null">user_id_g,</if>
            <if test="userId != null">user_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userIdG != null">#{userIdG},</if>
            <if test="userId != null">#{userId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateVipULog" parameterType="VipULog">
        update vip_u_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userIdG != null">user_id_g = #{userIdG},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVipULogById" parameterType="Long">
        delete from vip_u_log where id = #{id}
    </delete>

    <delete id="deleteVipULogByIds" parameterType="String">
        delete from vip_u_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>